.counter-container {
 display: flex; 
 justify-content: space-evenly;
 align-items: center;  
 margin-top: 16%;
 width: 30%;
 margin-left: 32%;
}

button {
    background-color: blue;
    color: white;
    border: none;
    height: 76px;
    width: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
}