li,a  {
    text-decoration: none;
    color:  white;

}
.navbar-container {
    background-color: blue;
    margin-top: -16px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;

}

.links-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
li {
    margin: 16px;
}